<%#debugger%>

<a href="/employees/new">Create new employees</a>
<table>

 <tr>
   <th>name</th>
   <th>department</th>
   <th>salary</th>
   <th>Phone number</th>
   <th>View</th>
   <th>Delete</th>
 </tr>
 
<%@employees.each do |employee| %>

<tr>
<td> <%= employee.name %></td>
<td> <%= employee.department%></td> 
<td> <%= employee.salary %></td>
<td><%=  employee.phone_number %></td>
<td><%= link_to 'View', "/employees/view/#{employee.id}" %> </td>
<td><%= link_to 'delete', "/employees/delete/#{employee.id}" %> </td>
</tr>


<%end%>




</table>