<%#debugger%>

<h1> New Employee </h1>

<%= form_tag("/employees/create", :method => "post") do %>

 
  Name <%= text_field_tag(:name) %>

 
  department <%= text_field_tag(:department) %>
  

  Salary <%= text_field_tag(:salary) %>


  Phone number <%= text_field_tag(:phone_number)%>
  
  <%= submit_tag("create employee") %>
<% end %>