<h2><b> Employee Information <b></h2>

<h4>Name - <%= @employee.name%> </h4>
<h4>Department - <%= @employee.department%> </h4>
<h4>Salary - <%= @employee.salary%> </h4>
<h4>Phone number - <%= @employee.phone_number%> </h4>

<div> <%= link_to "Go to Employees", "/employees"%> </div>