<!DOCTYPE html>
<html>
<head>
  <title>Student Management</title>
  <%= stylesheet_link_tag 'students', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h1>Student Management</h1>
  <%= link_to 'New Student', new_student_path %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.roll_no %></td>
          <td><%= student.phone_number %></td>
          <td><%= student.email %></td>
          <td><%= student.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
