<!DOCTYPE html>
<html>
<head>
  <title>New Student</title>
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h1>New Student</h1>
  <%= link_to 'Back', students_path %>

  <%= form_with(model: @student, url: students_path, local: true) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :roll_no %>
      <%= form.text_field :roll_no %>
    </div>

    <div>
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number %>
    </div>

    <div>
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div>
      <%= form.label :address %>
      <%= form.text_area :address %>
    </div>

    <%= form.submit 'Create Student' %>
  <% end %>
</body>
</html>
